
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>
    <br>
    <h4><b>We'd love to hear from You !!</b></h4>
    <p>
        Service at your finger tips you can now contact us via Email and call us.
        Whether you have any questions regarding the services provided at our end can get in touch with ur team mates,<br>
        We feel pleasured to serve you.<br>
        Get in touch with our Executives. We are ready to serve you  
    </p>
    &nbsp;<a href="mailto:KPC@gmail.com"title="Sending mail">
        <i>Mail Us At</i>&nbsp;
        <i class="fa-solid fa-envelope"></i> </a>
    <br>
    &nbsp;<a href="tel:+916547892135" title="Make a call">
        <i>Call Us at</i>&nbsp;
        <i class="fa-solid fa-phone fa-bounce" style="color: #ec3609;"></i></a>
        <br><br>

    <h2>Locations</h2>
    <h3> <b>San Francisco, USA </b></h3>
    <p> 1235 Bayhills Drive, Suite 312,<br>
         San Bruno, CA 54785<br>
        Office Timimgs:(Mon-Fri 10:00AM to 7:00PM)</p>
        <h3> <b>Hyderabad, India </b></h3>
        <p>SP infocity, Block B,<br>
        40 MGR Road, Hyderabad -500004
        <br>Office Timimgs:(Mon-Fri 10:00AM to 7:00PM)</p>
        
</body>
</html>